{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- <link rel="stylesheet" href="{% static 'css/timeline_css.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/timeline_css.css' %}">

  <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar2.css' %}">

  <link rel="shortcut icon" type="image/jpg" href="{% static 'aarhnLogo.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


    <title>Timeline</title>
</head>

<body>
  {% include 'flow/navbarAndFooter/navbar.html' %}
  

    {% block content %}
    {% endblock %}
    <div class="tcontainer">
 
   

    
   <!-- {% comment %} <video class = "timeline_vid" loop autoplay muted >
      <source src="{% static 'bg.gif' %}" type="video/mp4">
      Your browser does not support the video tag.
  </video>  {% endcomment %} -->

  <img src="{% static 'images/timeline_bg.jpg}" alt="">

  <div class="Dayz">
       
    <a class="btn-ap" style="color:rgb(255, 255, 255)" href="{% url 'timelineDay1' %}">Day1</a>
    <a class="btn-ap" style="color:rgb(255, 255, 255)" href="{% url 'timelineDay2' %}">Day2</a>
    <a class="btn-ap" style="color:rgb(255, 255, 255)" href="{% url 'timelineDay3' %}">Day3</a>
  </div>
  <section id="day1" class="timeline active">
    <ol>
      <li>
        <div>
          <time>THROUGHOUT THE FEST</time> 
          Crosswords </br> 
          Mazemerize </br>
          Startup Fair </br>
          REC Arcade </br>
        </div>
      </li>
      <li>
        <div>
          <time>09(AM)-12(PM)</time> 
          <time>01(PM)-03(PM)</time> 
          WORKSHOP (Cybersecurity) </br>
          WORKSHOP (ML)    </br>
        </div>
      </li>
     
      <li>
        <div>
          <time>09(AM)-12(PM)</time> 
          Call Out Sherlock </br>
          Bid Wit </br>
          Car Auction </br>
         Startup Fair </br>
        
        </div>
      </li>
      
    
      <li>
        <div>
          <time>09(AM)-12(PM)</time> 
          Linux Corner (throughout day)</br>
          Hackoverflow (throughout day) </br>
          Interficio(throughout day)
        </div>
      </li>
  
      <li>
        <div>
          <time>01(PM)-03(PM)</time> 
          Call Out Sherlock </br>
          House of Cups </br>
          Electra </br>
          Car Auction </br>
          Onspot Hackathon</br>
          Mindsweeper(finalRound)</br>
        </div>
      </li>
     
      
      <li>
        <div>
          <time>01(PM)-03(PM)</time> 
          Invictus (prelims)(online) </br>
        Be a billionaire (prelims)(online) </br>
        Contraptions (prelims)(online) </br>
        FantasyFootball(prelims)online(8PM-12AM)</br>
        </div>
      </li>
      <li>
        <div>
          <time>01(PM)-03(PM)</time> 
        Linux Corner (throughout day)</br>
          Hackoverflow (throughout day) </br>
          Interficio(throughout day)<br>
        </div>
      </li>
      <li>
        <div>
          <time>03(PM)-06(PM)</time>
           Matrix </br>
           Electra </br>
           Flying the UAV  </br>
           Ripple Effect </br>
           Onspot Hackathon</br>
           Mindsweeper(finalRound)</br>
        </div>
      </li>
      <li>
        <div>
          <time>03(PM)-06(PM)</time>
          Pitstop(online) </br>
          Freemex (online) </br>
          MinderSnatch (online) </br>
        </div>
      </li>
      <li>
        <div>
          <time>03(PM)-06(PM)</time>
          Techmela(Arena) </br>
          Linux Corner (throughout day)</br>
          Hackoverflow (throughout day) </br>
          Interficio(throughout day)<br>
          FantasyFootball(prelims)online(8PM-12AM)</br>
        </div>
      </li>
    </ol>
  
    <div class="arrows">
      <button class="arrow arrow__prev disabled" disabled>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
      </button>
      <button class="arrow arrow__next">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
      </button>
    </div>
  </section>

    <!-- {% comment %} <section id="day2" class="timeline active" style="display: none;">
      <ol>
        <li>
          <div>
            <time>1939</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          </div>
        </li>
        <li>
          <div>
            <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
          </div>
        </li>
        <li>
          <div>
            <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
          </div>
        </li>
        <li>
          <div>
            <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
          </div>
        </li>
        <li>
          <div>
            <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
          </div>
        </li>
        <li>
          <div>
            <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li></li>
      </ol>
    
      <div class="arrows">
        <button class="arrow arrow__prev disabled" disabled>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
        </button>
        <button class="arrow arrow__next">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
        </button>
      </div>
    </section> {% endcomment %} -->

    <!-- {% comment %} <section id="day3" class="timeline active" style="display: none;">
      <ol>
        <li>
          <div>
            <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          </div>
        </li>
        <li>
          <div>
            <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
          </div>
        </li>
        <li>
          <div>
            <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
          </div>
        </li>
        <li>
          <div>
            <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
          </div>
        </li>
        <li>
          <div>
            <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
          </div>
        </li>
        <li>
          <div>
            <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li>
          <div>
            <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
          </div>
        </li>
        <li></li>
      </ol>
    
      <div class="arrows">
        <button class="arrow arrow__prev disabled" disabled>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
        </button>
        <button class="arrow arrow__next">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
        </button>
      </div>
    </section> {% endcomment %} -->
  
</div>
    <script src="{% static 'js/timeline.js' %}"></script>

  <script src="{% static 'js/home.js' %}"></script>
  {% include 'flow/navbarAndFooter/footer.html' %}
</body>

</html>