{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AAROHAN 2024</title>
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/aarhn24Logo.png' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/homePage.css'%}">
</head>


<body>
  {% include 'flow/navbarAndFooter/navbar.html' %}
  <div class="main" id="mainContainer">
    <div class="video_container">
      <video id="dynamic_video" autoplay>
      </video>
      <audio id="audio" src="{% static 'videos/bau.mp3' %}" autoplay></audio>
    </div>
  </div>


  <script src="{% static 'js\home.js'%}"></script>
</body>

</html>