/*Home Page Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden !important;
}

html {
    overflow: hidden;
}

.video_container {
    height: 100vh;
    width: 100vw;
    z-index: 11;
    overflow: hidden;
}

html {
    background-color: white;
    overflow: hidden;
}


.video_container video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: auto;
}

@media (max-aspect-ratio:16/9) {
    #dynamic_video {
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio:16/9) {
    #dynamic_video {
        width: 100%;
        height: auto;
    }
}